{% macro filter_from_to(action,direction,proto,ports,from,to) -%}
{{action}} {{direction}} proto {{proto}} from {{from}} to {{to}} ports { {{ports|join(',')}} }
{%- endmacro %}

{% macro filter_from_table_to(action,direction,proto,ports,from_table,to) -%}
{{action}} {{direction}} proto {{proto}} from <{{from_table}}> to {{to}} ports { {{ports|join(',')}} }
{%- endmacro %}

{% macro filter_from_to_table(action,direction,proto,ports,from,to_table) -%}
{{action}} {{direction}} proto {{proto}} from {{from}} to <{{to_table}}> ports { {{ports|join(',')}} }
{%- endmacro %}

{% macro filter_from_table_to_table(action,direction,proto,ports,from_table,to_table) -%}
{{action}} {{direction}} proto {{proto}} from <{{from_table}}> to <{{to_table}}> ports { {{ports|join(',')}} }
{%- endmacro %}

#
# This file is managed by Ansible.
#
# Please see the Autologic FreeBSD Firewall Role
# for further details on how this file is managed:
# http://autologic.cm/roles
#

# Managed tables
{% for table in autologic_firewall_tables %}
table <{{table.name}}> {{table.attributes|join(' ')}} { {{table.entries|join(',')}} }
{% endfor %}

# Managed filters
{%- for service in autologic_firewall_filters -%}

{%- if service.from is defined and service.to is defined -%}
{{ filter_from_table_to_table(service.action, service.direction, service.protocol, service.ports, service.from, service.to) }}
{%- endif -%}

{%- if not service.from is defined and not service.to is defined -%}
{{ filter_from_to(service.action, service.direction, service.protocol, service.ports, 'any', 'any') }}
{%- endif -%}

{%- if not service.from is defined and service.to is defined -%}
{{ filter_from_to_table(service.action, service.direction, service.protocol, service.ports, 'any', service.to) }}
{%- endif -%}

{%- if service.from is defined and not service.to is defined -%}
{{ filter_from_table_to(service.action, service.direction, service.protocol, service.ports, service.from, 'any') }}
{%- endif -%}

{%- endfor -%}
